<nav class="navbar navbar-expand-lg navbar-light">
  <a href="/">
    <i id="logo" class="fas fa-project-diagram fa-lg"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active text-center">
        <a class="nav-link" href="/users/{{user.id}}/boards">ALL Boards</a>
      </li>
    </ul>
    <div class="nav-item btn-toggle text-center">
      <i id="nav-toggle" class="fas fa-circle fa-lg"></i>
    </div>
    <div class="nav-item text-center">
    <a href="/users/{{user.id}}/profilepage"><img class="avatar-nav" src={{user.image}}alt="Active user avatar"></a>
    </div>
  </div>
</nav>

<main class="dark-theme || light-theme">

  <div class="board container">
    <p id="board-title">{{board.title}}</p>
    <div class="avatars-group-k d-flex justify-content-center">
      {{#each tasks}}
      <img id="Avatar{{this.User.id}}" src="{{this.User.image}}">
      {{/each}}
    </div>


    <div class="cards-row-k row">
      <div class="col-sm-4">
        <div class="card card-board-k card-drag card-todo">
          <div class="card-header card-header-k">TO DO</div>
          <div class="card-body" id="0" ondrop="drop(event, this)" ondragover="allowDrop(event)">
            {{#each tasks}}
            {{#ifEquals this.status 0}}
            <div ondragstart="dragStart(event, {{this.id}})" draggable="true" id="dragtarget-{{this.id}}">
              <div class="task card-text">
                <img class="avatar-k TaskImage{{this.User.id}}" src="{{this.User.image}}">&nbsp; {{this.desc}} &nbsp;
                <a onclick="openEditTask({{this.id}})"><i class="fas fa-pencil-alt"></i>&nbsp;</a>
                <i onclick="openTaskDelete({{this.id}})" class="fas fa-trash-alt"></i><br />
                <div class="d-flex justify-content-between align-items-center">
                  {{#ifEquals this.dueDate 'Invalid date'}}
                  <div></div>
                  {{else}}
                  <div style="color:{{dueColor this}}"><i class="far fa-clock"></i> {{this.dueDate}}</div>
                  {{/ifEquals}}
                  <div id="label" style="background-color:{{colorLabel this}}; color:{{colorLabel this}}">{{this.label}}
                  </div>
                </div>
              </div>
            </div>
            {{/ifEquals}}



            {{!---Edit Task Pop Up Card---}}
            <div id="edit-task-{{this.id}}" class="form-popup-k col-sm-4">
              <div class="card card-board-k card-popup">
                <div class="card-header card-header-k">Edit Task</div>
                <div class="card-body">
                  <form action="/users/{{../user.id}}/boards/{{this.BoardId}}/tasks/{{this.id}}/edit" method="POST">
                    <div class="form-group">
                      <label for="task-desc">Task Description</label>
                      <input name="desc" type="text" class="form-control" id="task-desc" value="{{this.desc}}">
                    </div>
                    <div class="form-group">
                      <label for="assign">Assign User</label>
                      <select name="selectpicker" class="form-control" id="assign">
                        {{#each ../users}}
                        {{#ifEquals this.id ../this.User.id}}
                        <option selected="selected" value="{{this.id}}">{{this.name}}</option>
                        {{else}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/ifEquals}}
                        {{/each}}
                        {{#ifEquals this.User.id null}}<option selected="selected" value="no">No User</option>
                        {{else}} <option value="no">No User</option> {{/ifEquals}}

                      </select>
                    </div>
                    <div class="form-group">
                      <label for="move">Move to</label>
                      <select class="form-control" name="move" id="move">
                        {{#ifEquals this.status 0}} <option selected="selected" value="0">To Do</option> {{else}}
                        <option value="0">To Do</option> {{/ifEquals}}
                        {{#ifEquals this.status 1}} <option selected="selected" value="1">In Progress</option> {{else}}
                        <option value="1">In Progress</option> {{/ifEquals}}
                        {{#ifEquals this.status 2}} <option selected="selected" value="2">Done</option> {{else}} <option
                          value="2">Done</option> {{/ifEquals}}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="labels">Add Label</label>
                      <select name="label" class="form-control" id="labels">
                        {{#ifEquals this.label 'n'}} <option selected="selected" value="n">No Label</option>
                        {{else}} <option value="n">No Label</option> {{/ifEquals}}
                        {{#ifEquals this.label 'g'}} <option selected="selected" value="g">Green</option>
                        {{else}} <option value="g">Green</option> {{/ifEquals}}
                        {{#ifEquals this.label 'y'}} <option selected="selected" value="y">Yellow</option>
                        {{else}} <option value="y">Yellow</option> {{/ifEquals}}
                        {{#ifEquals this.label 'o'}} <option selected="selected" value="o">Orange</option>
                        {{else}} <option value="o">Orange</option> {{/ifEquals}}
                        {{#ifEquals this.label 'r'}} <option selected="selected" value="r">Red</option>
                        {{else}} <option value="r">Red</option> {{/ifEquals}}
                        {{#ifEquals this.label 'b'}} <option selected="selected" value="b">Blue</option>
                        {{else}} <option value="b">Blue</option> {{/ifEquals}}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="due">Due Date</label>
                      <input name="dueDate" type="date" class="form-control" id="due" value="{{this.dueDate}}">
                    </div>
                    <button type="submit" class="btn-edit-k btn"><i class="fas fa-check"></i>&nbsp;
                      Submit</button>
                  </form>
                  <div class="d-flex justify-content-between align-items-center">
                    <a href="/users/{{../user.id}}/boards/{{../board.id}}/tasks/{{this.id}}/delete">
                      <i class="fas fa-trash-alt"></i></a>
                    <i onclick="closeEditTask('{{this.id}}')" class="far fa-times-circle fa-lg"></i>
                  </div>
                </div>
              </div>
            </div>

            {{!---Delete Task Pop Up Card---}}
            <div id="delete-task-{{this.id}}" class="form-popup-k col-sm-4">
              <div class="card card-popup">
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <p>Are you sure you want to delete this task?</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <a href="/users/{{../user.id}}/boards/{{../board.id}}/tasks/{{this.id}}/delete">
                        <button type="button" class=" btn-k btn"><i class="fas fa-times"></i>&nbsp; Delete</button>
                      </a>
                      <i onclick="closeTaskDelete({{this.id}})" class="far fa-times-circle fa-lg"></i>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            {{/each}} {{!--end {{each tasks}} loop --}}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card card-board-k card-drag card-progress">
          <div class="card-header card-header-k">IN PROGRESS</div>
          <div class="card-body" id="1" ondrop="drop(event, this)" ondragover="allowDrop(event)">
            {{#each tasks}}
            {{#ifEquals this.status 1}}
            <div ondragstart="dragStart(event, {{this.id}})" draggable="true" id="dragtarget-{{this.id}}">
              <div class="task card-text "><img class="avatar-k TaskImage{{this.User.id}}"
                  src="{{this.User.image}}">&nbsp; {{this.desc}} &nbsp;
                <a onclick="openEditTask({{this.id}})"><i class="fas fa-pencil-alt"></i>&nbsp;</a>
                <i onclick="openTaskDelete({{this.id}})" class="fas fa-trash-alt"></i><br />
                <div class="d-flex justify-content-between align-items-center">
                  {{#ifEquals this.dueDate 'Invalid date'}}
                  <div></div>
                  {{else}}
                  <div style="color:{{dueColor this}}" id="date"><i class="far fa-clock"></i> {{this.dueDate}}</div>
                  {{/ifEquals}}
                  <div id="label" style="background-color:{{colorLabel this}}; color:{{colorLabel this}}">{{this.label}}
                  </div>
                </div>
              </div>
            </div>
            {{/ifEquals}}
            {{/each}}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card card-board-k card-drag card-done">
          <div class="card-header card-header-k">DONE</div>
          <div class="card-body" id="2" ondrop="drop(event, this)" ondragover="allowDrop(event)">
            {{#each tasks}}
            {{#ifEquals this.status 2}}
            <div ondragstart="dragStart(event, {{this.id}})" draggable="true" id="dragtarget-{{this.id}}">
              <div class="task card-text"><img class="avatar-k TaskImage{{this.User.id}}"
                  src="{{this.User.image}}">&nbsp; {{this.desc}} &nbsp;
                <a onclick="openEditTask({{this.id}})"><i class="fas fa-pencil-alt"></i>&nbsp;</a>
                <i onclick="openTaskDelete({{this.id}})" class="fas fa-trash-alt"></i> <br />
                <div class="d-flex justify-content-between align-items-center">
                  {{#ifEquals this.dueDate 'Invalid date'}}
                  <div></div>
                  {{else}}
                  <div style="color:{{dueColor this}}" id="date"><i class="far fa-clock"></i> {{this.dueDate}}</div>
                  {{/ifEquals}}
                  <div id="label" style="background-color:{{colorLabel this}}; color:{{colorLabel this}}">{{this.label}}
                  </div>
                </div>
              </div>
            </div>
            {{/ifEquals}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="btn-bottom d-flex flex-wrap justify-content-center">
      <button onclick="openAddTask()" type="button" class="btn-k btn"><i class="fas fa-plus"></i>&nbsp; Add Task</button>
      <button onclick="openBoardEdit()" type="button" class="btn btn-k back-k"><i class="fas fa-check"></i>&nbsp; Edit Board</button>
      <button onclick="openBoardDelete()" type="button" class="btn btn-k back-k"><i class="fas fa-times"></i>&nbsp; Delete Board</button>
    </div>


    {{!---Add Task Pop Up Card---}}
    <div id="add-task" class="form-popup-k col-sm-4">
      <div class="card card-board-k card-popup">
        <div class="card-header card-header-k">Add Task</div>
        <div class="card-body">
          <form action="/users/{{user.id}}/boards/{{board.id}}/tasks/create" method="POST">
            <div class="form-group">
              <label for="task-desc">Task Description</label>
              <input name="desc" type="text" class="form-control" id="task-desc"
                value="Your new task description">
            </div>
            <div class="form-group">
              <label for="assign">Assign User</label>
              <select name="selectpicker" class="form-control" id="assign">
                {{#each users}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
                <option value="no">No User</option>
              </select>
            </div>
            <div class="form-group">
              <label for="due">Due Date</label>
              <input name="dueDate" type="date" class="form-control" id="due">
            </div>
            <div class="form-group">
              <label for="labels">Add Label</label>
              <select name="label" class="form-control" id="labels">
                {{#ifEquals this.label 'n'}} <option selected="selected" value="n">No Label</option>
                {{else}} <option value="n">No Label</option> {{/ifEquals}}
                {{#ifEquals this.label 'g'}} <option selected="selected" value="g">Green</option>
                {{else}} <option value="g">Green</option> {{/ifEquals}}
                {{#ifEquals this.label 'y'}} <option selected="selected" value="y">Yellow</option>
                {{else}} <option value="y">Yellow</option> {{/ifEquals}}
                {{#ifEquals this.label 'o'}} <option selected="selected" value="o">Orange</option>
                {{else}} <option value="o">Orange</option> {{/ifEquals}}
                {{#ifEquals this.label 'r'}} <option selected="selected" value="r">Red</option>
                {{else}} <option value="r">Red</option> {{/ifEquals}}
                {{#ifEquals this.label 'b'}} <option selected="selected" value="b">Blue</option>
                {{else}} <option value="b">Blue</option> {{/ifEquals}}
              </select>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button type="submit" class="btn"><i class="fas fa-plus"></i>&nbsp; Submit</button>
              <i onclick="closeAddTask()" class="far fa-times-circle fa-lg"></i>
            </div>
          </form>
        </div>
      </div>
    </div>

    {{!---Delete Board Pop Up Card---}}
    <div id="delete-board" class="form-popup-k col-sm-4">
      <div class="card card-popup">
        <div class="card-body">
          <form>
            <div class="form-group">
              <p>Are you sure you want to delete this board?</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <a href="/users/{{user.id}}/boards/{{board.id}}/delete">
                <button type="button" class=" btn-k btn"><i class="fas fa-times"></i>&nbsp; Delete</button>
              </a>
              <i onclick="closeBoardDelete()" class="far fa-times-circle fa-lg"></i>
            </div>
          </form>
        </div>
      </div>
    </div>

    {{!---Edit Board Pop Up Card---}}
    <div id="edit-board" class="form-popup-k col-sm-4">
      <div class="card card-popup">
        <div class="card-header card-header-k">Edit Board</div>
        <div class="card-body">
          <form action="/users/{{user.id}}/boards/{{board.id}}/edit" method="POST">
            <div class="form-group">
              <label for="board-t">Board Title</label>
              <input name="title" type="text" class="form-control" id="board-t" value="{{board.title}}">
            </div>
            <div class="form-group">
              <label>Project Picture</label>
              <input type="url" class="form-control" placeholder="Picture url" name="image" value="{{board.image}}">
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button type="submit" class="btn-k btn"><i class="fas fa-check"></i>&nbsp;
                Submit</button>
              <i onclick="closeBoardEdit()" class="far fa-times-circle fa-lg"></i>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</main>



<script>

  //Pop up
  function openAddTask() {
    document.getElementById("add-task").style.display = "block";
  }
  function closeAddTask() {
    document.getElementById("add-task").style.display = "none";
  }
  function openEditTask(id) {
    document.getElementById(`edit-task-${id}`).style.display = "block";
  }
  function closeEditTask(id) {
    document.getElementById(`edit-task-${id}`).style.display = "none";
  }
  function openTaskDelete(id) {
    document.getElementById(`delete-task-${id}`).style.display = "block";
  }
  function closeTaskDelete(id) {
    document.getElementById(`delete-task-${id}`).style.display = "none";
  }

  function openBoardDelete() {
    document.getElementById("delete-board").style.display = "block";
  }
  function closeBoardDelete() {
    document.getElementById("delete-board").style.display = "none";
  }

  function openBoardEdit() {
    document.getElementById("edit-board").style.display = "block";
  }
  function closeBoardEdit() {
    document.getElementById("edit-board").style.display = "none";
  }

  //Drag and Drop
  function dragStart(event, taskId) {
    event.dataTransfer.setData("Text", event.target.id);
    event.dataTransfer.setData("TaskId", taskId);
  }

  function allowDrop(event) {

    event.preventDefault();
  }

  function drop(event, el) {
    event.preventDefault();
    var data = event.dataTransfer.getData("Text");
    var taskId = event.dataTransfer.getData("TaskId");
    el.appendChild(document.getElementById(data, taskId));
    console.log(taskId)
    const postRequest = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ status: el.id })
    }
    fetch(`/users/${taskId}/updatetask`, postRequest)
  }

  $('*[id*=Avatar]').each(function () {
    $('[id="' + this.id + '"]:gt(0)').remove();
  })

  $('#Avatar').hide()
  $('.TaskImage').css('visibility', 'hidden')

  $(window).on('load', function () {
    $("#container").show();
  });

//Dark Mode & Local Storage
//JavaScript Local Storage allows us to store the settings so when the page is reloaded settings are not changed to the defualt state but remain in the chosen one. 
const btn = document.querySelector(".btn-toggle");
const currentTheme = localStorage.getItem("theme");


//Below allows us to maintain dark theme despite reloading the page
if (currentTheme == "dark") {
  document.body.classList.add("dark-theme");
}

//Listens for a button click
btn.addEventListener("click", function () {
  //Togles the dark and light theme on each click
  document.body.classList.toggle("dark-theme");

  let theme = "light";
  if (document.body.classList.contains("dark-theme")) {
    theme = "dark";
  }
  //Saves the choice in the local storage
  localStorage.setItem("theme", theme);
});

</script>